mat-toolbar
{
    background-color: teal;
   
}
.toprow
{
    padding: 1em;
}
aside{
    
   margin-left:53%;
}
.nvbuttons
{
    color: whitesmoke;
    padding: 0;
    cursor: pointer;
    top:8px;
    height:40px;
    width:100px;
}

.class1
{
    background-color: rgb(231, 231, 231);
    color:teal;
}
.nvmenu
{
    background-color: whitesmoke;
    color: black;
    border-radius: 20%;
    padding-top: 0;    
}

img
{
    height: 62px;
    width: 62px;
    border-radius: 20%;
}