body
{
    padding-left: 10em;
    padding-right: 10em;       
    background-color:wheat;
}

mat-card
{
    height: 100%;
}
mat-card-title
{
    
    margin-left: 18em;
   

}
.card-container-center
{
font-size:25px;
}
.container
{
    position: relative;
    left:6em;
}
p
{
    transform:translate(15%,50%);
}
.center
{
    left:120px;
}
.right
{
    margin-left: 3em;
}
mat-form-field
{
    width: 25%;
}
.btnApply
{
    left: 190px;
    top:10px;
    
}
input[name="days"],[name="balance"]
{
    cursor:not-allowed;
}
.btnApply{
    background-color:teal;
    color: white;
    
}
.btnCancel
{
    left: 200px;
    top:10px;
}
