body
{
    padding-left: 10em;
    padding-right: 10em;       
    background-color:rgb(221, 221, 221);
}

mat-card
{
    height: 100%;
}
.res
{
    position: relative;
    bottom: 40px;
}
.btns
{
    position: relative;
    bottom: 50px;
}
.spl
{
    padding: 0;
    margin: 0;
    position: relative;
    top: 6px;
}
.container
{
    position: relative;
    left:6em;
    bottom:2em;
}
p
{
    transform:translate(15%,50%);
}
.center
{
    left:130px;
}
.right
{
    margin-left: 3em;
}
mat-form-field
{
    width: 25%;
}
.btnApply
{
    left: 190px;
    top:10px;
    
}
input[name="days"],[name="balance"]
{
    cursor:not-allowed;
}
.btnApply{
    background-color:teal;
    color: white;
    
}
.btnCancel
{
    left: 200px;
    top:10px;
}
#errorss
{
    color: red;
    margin-left: 164px;
}
textarea
{
    height: 50px;
}
#err
{
    color: red;
    margin-top: 20px;
    margin-left: 370px;
}