.sidenav {
    background-color: rgb(62, 179, 163);    
    padding-top: 20px;
    height: 100%;
}
.main
{
    padding: 0px 10px;
          
}
#fpword
{
    cursor: pointer;
    color: teal;
}
#fpword:hover
{
    color: lightgreen;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
      
    }

    .sidenav{
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
        
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}
#logicon
{
  position: absolute;
  top: 30%;
  height: 250px;
  width: 250px;
  left: 18%;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
.pline
{
    padding: 0%;
    text-align: center;
    margin-top: -10px;
    
}
h2{
    position: relative;
    margin-top: -100px;
    text-align: center;
}


:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;   
    
  }


  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
button{
    color:whitesmoke;
    background-color: rgb(62, 179, 163);
    left: 35%;
    margin-top: 8%;
}
.valerror
{
    color: red;    

}
mat-card-title
{
    font-size: 20px;
}
