<body>
  <div class="sidenav">
    <div class="login-main-text">
      <p class="ptop">Welcome to HR Zone</p>
      <p class="greet">{{value}}</p>
      <p class="pline">Have a productive day</p>
      <img class="pic" src="../../assets/pic2.png" alt="">
    </div>

  </div>
  <div class="main">

    <div class="icon">
      <img src="../../assets/icon.jpg" alt="alt">
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
          <form method="post" #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin">
            <mat-form-field>
              <input type="text" autocomplete="off" matInput placeholder="Username" name="username"
                [(ngModel)]="empLogin.username" #unamefield="ngModel" required="required">
              <mat-icon matSuffix>supervised_user_circle</mat-icon>
            </mat-form-field>
            <div *ngIf="unamefield.invalid && (unamefield.dirty||unamefield.touched)" class="valerror">
              <div *ngIf="unamefield.errors.required">
                Username Mandatory
              </div>
            </div>

            <mat-form-field>
              <input type="password" matInput placeholder="Password" name="password" minlength="5"
                [(ngModel)]="empLogin.password" #pwordfield="ngModel" required="required">
              <mat-icon matSuffix>https</mat-icon>
            </mat-form-field>
            <div *ngIf="pwordfield.invalid && (pwordfield.dirty || pwordfield.touched)" class="valerror">

              <div *ngIf="pwordfield.errors.required">
                Password is Required
              </div>
            </div>
            <div [hidden]="!errorStatus" class="alert alert-danger">
              {{errorMessage}}
            </div>
            <div id="fpword" (click)="redirect()">Forgot Password?</div>
            <button type="submit" [disabled]="form.form.invalid" mat-button>Login</button>
          </form>
        </mat-card-content>
      </div>
    </div>
  </div>


</body>