<div class="sidenav">
    <div class="login-main-text">
       <h2>Welcome to HR Zone</h2>
       <p class="pline">The Zone where Humans are Resourced</p>
    </div>
 </div>
 <div class="main">
     <div class="icon">
         <img class="logo" src="https://is1-ssl.mzstatic.com/image/thumb/Purple123/v4/d1/48/1a/d1481ab4-cef2-d731-1dad-ebdc5c13a533/source/256x256bb.jpg" alt="alt">
     </div>
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
        
          <mat-card-title>Login</mat-card-title>
          <mat-card-content>
            <form #form = "ngForm" (ngSubmit)="onSubmit(form)">
              <div>
                <mat-form-field>
                  <input type="text" matInput placeholder="Username" name="username" ngModel  required>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input type="text" matInput placeholder="Password" name="password" ngModel  required>
                </mat-form-field>
              </div>              
              <button type="submit"  [disabled]="form.form.invalid" mat-button>Login</button>         
            </form>
          </mat-card-content>
        
          <!--<form>
             <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="User Name">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <button type="submit" class="btn btn-black">Login</button>    
             https://image.flaticon.com/icons/svg/56/56767.svg                     
          </form>-->
       </div>
    </div>
 </div>
