body
{
    padding-left: 10em;
    padding-right: 10em;       
    background-color:wheat;
}
mat-card
{
    height: 100%;

}
mat-card-title
 {
  display: flex;
  justify-content: center;
  background-color: teal;  
  color: white;
  border: solid 3px black;
  padding: 0;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
button{
    color:whitesmoke;
    background-color: rgb(62, 179, 163);
    left: 5%;
    top: 10%;
}
form{
    
  justify-content: center;
  transform: translate(40%,50%);

}
.valerror
{
    color: red;
}