<body>
    <mat-card>
            <mat-card-title>Set your Password Here</mat-card-title>
            <mat-card-content>
                    <form method = "post"  #form = "ngForm" (ngSubmit)="onConfirm(form)" autocomplete="off" class="form-signin">  
                            <div>
                                        <mat-form-field appearance="outline" autocomplete="off">
                                                        <mat-label>Employee ID:</mat-label>
                                                        <input type="number" matInput placeholder="Enter EmployeeID" name="emp_id"  [(ngModel)]="empInstance.emp_id"  #empidfield = "ngModel"  required="required">                       
                                                        <mat-icon matSuffix>assignment</mat-icon>
                                                </mat-form-field>
                            </div>
                        <div>
                                
                                <mat-form-field appearance="outline">
                                        <mat-label>Password:</mat-label>
                                        <input type="password" matInput placeholder="Enter Password" name="password" minlength="5" [(ngModel)]="empInstance.password"  #pwordfield = "ngModel"  required="required">                       
                               <mat-icon matSuffix>https</mat-icon>
                                </mat-form-field>
                                      <div *ngIf="pwordfield.invalid && (pwordfield.dirty || pwordfield.touched)" class="valerror">
                                        
                                        <div *ngIf="pwordfield.errors.minlength">
                                          Password must be at least 5 characters long.
                                        </div>
                                        <div *ngIf="pwordfield.errors.required">
                                            Password is Required
                                        </div>
                                    </div> 

                        </div>

                        <div class="confirm">                                       
                                <mat-form-field appearance="outline">
                                        <mat-label>Confirm Password:</mat-label>
                                        <input type="password" matInput placeholder="Re-enter Password" name="confirmpassword" minlength="5" [(ngModel)]="empInstance.confirmpassword"  #cpwordfield = "ngModel"  required="required">                       
                                        <mat-icon matSuffix>https</mat-icon>
                                </mat-form-field>

                                
                                <div *ngIf="cpwordfield.invalid && (pwordfield.dirty || cpwordfield.touched)" class="valerror">
                                        
                                        <div *ngIf="cpwordfield.errors.minlength">
                                          Password must be at least 5 characters long.
                                        </div>
                                        <div *ngIf="cpwordfield.errors.required">
                                            Confirm Password is Required
                                        </div>                                 
                                   </div>                                    
                                </div>   
                                <button type="submit" [disabled]="form.form.invalid" mat-button>Submit</button> 
                                <mat-icon [routerLink]="'/login'">navigate_next</mat-icon>                                                      
                             </form>                               
                     </mat-card-content>



    </mat-card>
</body>
