body
{
    padding-left: 25em;
    padding-right: 25em;       
    background-color:rgb(221, 221, 221);
}

mat-card
{
    height: 100%;
}
mat-card-title
 {
  display: flex;
  justify-content: center;
  background-color: teal;  
  color: white;
  border: solid 3px black;
  padding: 0;
  margin: 0;
}
form
{
    transform: translate(40%,140%);

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
button{
    left:50px;
}
a
{
float: right;
padding:1em;
font-size: 20px;
color: teal;
}
a:hover
{
    color: lightgreen;
}