body
{
    padding-left: 10em;
    padding-right: 10em;       
    background-color:wheat;
}

mat-card
{
    height: 100%;
}
form
{
    transform: translate(40%,140%);

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}