<app-navbar></app-navbar>
<body>
    <mat-card>
        <form method = "post" #form = "ngForm" (ngSubmit)="onSubmit(form)" class="form-signin">  
            <mat-card-title>Enter Credentials</mat-card-title>
               <div>                   
                    <mat-form-field appearance = "outline" >
                      <mat-label>Email</mat-label>
                            <input type="text" matInput placeholder="EmailID" name="email" [(ngModel)]="empdata.email" #emailfield = "ngModel"  required="required">                                            
                          </mat-form-field>
              </div>                
            <div>
                    <mat-form-field appearance = "outline" >
                            <input type="number" matInput placeholder="EmployeeID" name="empid"  [(ngModel)]="empdata.empid"  #empidfield = "ngModel"  required="required">                    
                          </mat-form-field>
            </div>
            <button mat-raised-button type="submit"   [disabled]="form.form.invalid">Submit</button> 
        </form>
    </mat-card>
</body>
