<app-navbar></app-navbar>
<body>
    <mat-card>  
        <mat-card-header>
                <mat-card-title class="card-container-center">Attendance Sheet</mat-card-title>
        </mat-card-header>    
        <div class="attendancecontainer">
                <mat-card-content>
                        <div class="example-container mat-elevation-z8">
                            <table class="table">
                                <thead>
                                    <tr>                          
                            
                                        <th scope="col">ID</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">FirstIN</th>
                                        <th scope="col">LastOut</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of attendance" [ngClass]="{'bgGreen': a.statusemp == 'Present','bgRed': a.statusemp =='On Leave','bggrey':a.statusemp == 'Holiday'}">
                                        <td>{{a.employee_id}}</td>
                                        <td>{{a.dateofentry|date}}</td>
                                        <td>{{a.firstin }}</td>
                                        <td>{{a.lastout }}</td>
                                        <td>{{a.statusemp}}</td>
                                    </tr >
                                </tbody>
                            </table>
                            
           <!--- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <h1>Attendance</h1>

             Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" >--

             Position Column 
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let emp"> {{emp.id}} </mat-cell>
              </ng-container>        

            !-- Name Column 
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
              <mat-cell *matCellDef="let emp"> {{emp.Date | date:'mediumDate'}} </mat-cell>
            </ng-container>
          
            !-- Weight Column 
            <ng-container matColumnDef="firstin">
              <mat-header-cell *matHeaderCellDef mat-sort-header> FirstIN </mat-header-cell>
              <mat-cell *matCellDef="let emp"> {{emp.firstin}} </mat-cell>
            </ng-container>
          
             Symbol Column 
            <ng-container matColumnDef="lastout">
              <mat-header-cell *matHeaderCellDef mat-sort-header> LastOUT </mat-header-cell>
              <mat-cell *matCellDef="let emp"> {{emp.lastout}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
              <mat-cell *matCellDef="let emp"> {{emp.status}} </mat-cell>
            </ng-container>      
                
              
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>   ---->
          </div>
          </mat-card-content>
        </div>  
    </mat-card>
</body>

<!--<ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let emp"> {{emp.status}} </mat-cell>
              </ng-container>  -->     