body
{
    padding-left: 10em;
    padding-right: 10em;       
    background-color:rgb(221, 221, 221);
    overflow: auto;
}
mat-card
{
    height: 100%;
}

.table {
    bottom: 10px;
    width: 100%;
    max-height: 3%;
    overflow-y: scroll;
  }
  .empty
  {
      color: red;
  }

.attendancecontainer
{
    margin-top: 20px;
}
th{
    color: white;
    background-color: teal;
}
.bgGreen {
    background-color: palegreen
}

.bgRed {
    background-color: lightcoral;
}
.bggrey
{
    background-color: rgb(177, 177, 177);
}

