body
{
    padding-left: 10em;
    padding-right: 10em;       
    background-color:rgb(221, 221, 221);
}

mat-card
{
    height: 100%;
}
.spl
{
    padding: 0;
    margin: 0;
    position: relative;
    top: 6px;
}

form
{
    transform: translate(1%,1%);
    font-size: 15px;
}
h1
{
    padding: 1em; 
    margin-left: -1em;
    color: darkcyan;
    text-align: center;
}

.splitLeft
{

    margin-left: 23em;
}
.errorr
{
    color: red;
    position: relative;
    left: 170px;
    bottom: 30px;
}
.right
{
    margin-left: 2em;
}
button
{
    margin-left: 38em;
    background: darkcyan;
    color: white;
}
.uname
{
    margin-left: 9em;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}